{% extends "base_template_example.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
    </p>
{% endblock %}